@use '../../commons/styles/colors.scss';

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    img{
        width: 220px;
        height: auto;
    }
    .back{
        margin-left: 25px;
        font-size: 15px;
        padding: 10px 48px;
        color: colors.$white-light;
        border-radius: 10px;
        background: colors.$primary-color;
        cursor: pointer;
    }
}