<form autocomplete="off" [formGroup]="formGroupEmail" *ngIf="!showFormNewPassword">
	<h2 class="text-light">Reset password</h2>
	<p>Enter the email with which you registered</p>
	<br />

	<mat-form-field appearance="outline">
		<mat-label>E-mail</mat-label>
		<input matInput type="text" formControlName="email" />
		<mat-icon matSuffix>mail</mat-icon>
		<mat-error *ngIf="formGroupEmail.get('email')!.hasError('email')">email invalid </mat-error>
		<mat-error *ngIf="formGroupEmail.get('email')!.hasError('required')">email is required </mat-error>
	</mat-form-field>

	<button mat-raised-button color="primary" class="button-large" type="submit" (click)="validEmail()">Continue</button>

	<br />
	<span class="link-purple" [routerLink]="pathLogin">Back Login</span>
</form>

<!---------------------Section para nueva contraseña----------------------------------------->

<form autocomplete="off" [formGroup]="formGroupNewPassword" *ngIf="showFormNewPassword">
	<h2 class="text-light">Create new password</h2>
	<br />

	<mat-form-field appearance="outline">
		<mat-label>Password</mat-label>
		<input matInput [type]="isShowPassword ? 'text' : 'password'" formControlName="password" />
		<mat-icon matSuffix (click)="showPassword()">{{ isShowPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
		<mat-error *ngIf="formGroupNewPassword.get('password')!.hasError('customPasswordValidator')">
			The password must have an uppercase, symbol, number and greater than 8 characters
		</mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>Repeat Password</mat-label>
		<input
			matInput
			[type]="isShowPassword ? 'text' : 'password'"
			formControlName="repeatPassword"
			[errorStateMatcher]="passwordStateMatcher"
		/>

		<mat-error *ngIf="formGroupNewPassword!.hasError('crossConfirmPasswordError')">
			the password does not match, please check
		</mat-error>
	</mat-form-field>

	<button mat-raised-button color="primary" type="submit" class="button-large" (click)="resetPassword()">
		Reset Password
	</button>

	<br />
	<span class="link-purple" [routerLink]="pathLogin">Back Login</span>
</form>
