@use '../../styles/colors.scss';
section {
	display: grid;
	grid-template-columns: 0.5fr 2.5fr 1fr;
	grid-template-rows: 52px;
	gap: 3rem;
	img {
		width: auto;
		height: 35px;
		margin-top: 6px;
	}
	.mat-form-field{
		font-size: 13px;
		margin-left: 10px;
	}

	.account__container{
		display:flex;
		gap: 10px;
		align-items: center;
		color:colors.$white-light;
		:nth-child(1){
			width: 32px;
			height: 32px;
			
		}
		:nth-child(2){
			cursor: pointer;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			max-width: 168px;
		}
	}
}

.circle{
	border-radius: 50%;
}

@media screen and (max-width: 1020px) {
	section{
		grid-template-columns: 3fr 0.3fr;
		#logo{
			display: none;
		}
	}
	.account__container{
		p{
			display: none;
		}
	}
}

@media screen and (max-width: 730px) {
	section{
		gap: 0.5rem;
		.mat-form-field{
			margin-left: 0px;
		}
	}
}

