<section>
	<img src="assets/images/logo.svg" alt="logo" />
	<mat-form-field appearance="outline">
		<mat-label>Search</mat-label>
		<input matInput type="text" autocomplete="off" [(ngModel)]="valueSearch" />
		<button *ngIf="valueSearch" matSuffix mat-icon-button aria-label="Clear" (click)="valueSearch = ''">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>
	<div class="check_filter__row">
		<mat-checkbox color="primary" [checked]="searchByHero" (change)="changeSearch()">Search by Hero</mat-checkbox>
		<mat-checkbox color="primary" [checked]="!searchByHero" (change)="changeSearch()">Search by Comic</mat-checkbox>
	</div>
</section>
