$secondary-color: #2389EC;
$primary-color: #6846EC;
$white-color: #fff;
$white-light:rgba(255, 255, 255, 0.8);
$white-color-input:rgba(255, 255, 255, 0.2);
$dark-color: #0D0C0F; 
$dark-bg:#1E1F23;
$dark-bg-2:#151718;
$light-bg:#D9D9D9;
$cian-color:#00B5B5;
$pink-color:#FF3060;
