
// GAMA COLORES
$my-primary-color: (
    50 : #ede9fd,
    100 : #d2c8f9,
    200 : #b4a3f6,
    300 : #957ef2,
    400 : #7f62ef,
    500 : #6846ec,
    600 : #603fea,
    700 : #5537e7,
    800 : #4b2fe4,
    900 : #3a20df,
    A100 : #ffffff,
    A200 : #e6e3ff,
    A400 : #b9b0ff,
    A700 : #a296ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-accent-color: (
    50 : #e5f1fd,
    100 : #bddcf9,
    200 : #91c4f6,
    300 : #65acf2,
    400 : #449bef,
    500 : #2389ec,
    600 : #1f81ea,
    700 : #1a76e7,
    800 : #156ce4,
    900 : #0c59df,
    A100 : #ffffff,
    A200 : #d6e3ff,
    A400 : #a3c1ff,
    A700 : #8aafff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-warn-color: (
    50 : #ffe6ec,
    100 : #ffc1cf,
    200 : #ff98b0,
    300 : #ff6e90,
    400 : #ff4f78,
    500 : #fd4772,
    600 : #ff2b58,
    700 : #ff244e,
    800 : #ff1e44,
    900 : #ff1333,
    A100 : #ffffff,
    A200 : #fffafa,
    A400 : #ffc7cd,
    A700 : #ffadb6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



