@use '@angular/material' as mat;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '../src/app/commons/styles/colors.scss';
@use '../src/app/commons/styles/my-theme.scss';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$appAngular-primary: mat.define-palette(my-theme.$my-primary-color);
$appAngular-accent: mat.define-palette(my-theme.$my-accent-color);

// The warn palette is optional (defaults to red).
$appAngular-warn: mat.define-palette(my-theme.$my-warn-color);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$appAngular-theme: mat.define-light-theme((
  color: (
    primary: $appAngular-primary,
    accent: $appAngular-accent,
    warn: $appAngular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($appAngular-theme);

/* You can add global styles to this file, and also import other style files */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.text-light{
  font-weight: 400;
  color: colors.$white-light;
}
body { margin: 0; font-family: 'Mulish', sans-serif; background: colors.$dark-bg}


/*
Estilos para cambiar al mat-input
*/

.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-form-field-appearance-outline .mat-form-field-label,
.mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon  {
	color: colors.$white-color-input;
}

.mat-form-field {
  width: -webkit-fill-available;
  color: colors.$white-light;
  font-size: 15px;
}

.mat-form-field-wrapper {
  padding-bottom: 1.2em;
}


input:focus,
textarea:focus,
select:focus {
	outline: none;
}

/*Input Check*/
.mat-checkbox-label{
  font-size: 15px;
}
.mat-checkbox-frame{
  border: 1px solid colors.$white-color-input;
}

/*Links*/
.link-purple{
  color: colors.$primary-color;
	cursor: pointer;
}

.button-large {
	width: 100%;
	height: 47px;
	font-size: 16px;
}


