@use '../../../../commons/styles/colors.scss';

.container_cards{
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
	flex-wrap: wrap;
	gap: 1.5em;
    padding-bottom: 25px;
}

.container_pagination{
    padding: 0 50px;
}

.mat-paginator{
    background: colors.$dark-bg;
}

.container_notFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
    margin-top:12%;
    img{
     width: 80px;
     height: auto;
    }
 }
 
@media screen and (max-width: 1075px) {
	.container_cards{
        justify-content: center;
        margin-left: 0px;
	}
}

@media screen and (max-width: 612px) {
	.container_pagination{
        padding: 0;
    }
    .mat-paginator-container{
        align-items: center;
        justify-content:center;
    }
}

.hide{
    display: none;
}



