<app-header-filter (search)="onSearch($event)" (reload)="onReload()"></app-header-filter>

<div class="container_cards">
	<app-card-hero
		*ngFor="let item of listCharacters"
		[hero]="item"
		(clickCardHero)="openDialogHeroDetail($event)"
	></app-card-hero>
</div>

<div class="container_notFound" *ngIf="showNotFoundResult">
	<img src="assets/images/no-results.png" alt="not-found" />
	<p>No results found</p>
</div>

<div class="container_pagination">
	<mat-paginator
		#paginator
		[length]="pageLength"
		[pageSize]="pageSize"
		[pageSizeOptions]="[5, 10, 20]"
		(page)="pageEvent = $event; onChangePaginate($event)"
		[class.hide]="!listCharacters.length"
	>
	</mat-paginator>
</div>
